.parent_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-top: 5px;
}

/* .hero_section {
  width: 100%;
  height: 50vh;
  /* height: 70vh; */
  /* position: relative; */
  /* background-color: black; */
  /* padding-top: 120px; */
/* } */ */

.hero_section video {
  position: absolute;
  object-fit: cover;
  bottom: 0;
  z-index: -999;
  width: 100vw;
  margin: auto;
}

.hero_element {
  position: absolute;
  width: 40%;
  height: 30vh;
  background-color: white !important;
  bottom: 30vh;
  left: 10vw;
  opacity: 80%;
  padding: 40px;
}

.hero_element p {
  font-size: 17px;
  color: rgb(186, 32, 186);
  opacity: 100% !important;
}
.hero_element h1 {
  font-size: 27px;
  color: black;
  opacity: 100% !important;
}
.hero_element button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9vw;
  margin: 10vh 0;
  padding: 12px;
  font-size: 15px;
  background-color: rgb(186, 32, 186);
  color: white;
  opacity: 100% !important;
  border: none;
  border-radius: 12px;
}
.teeth_category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh !important;
  width: 80vw;
  margin: auto;
}
.teeth_category svg{
  color: rgb(186, 32, 186);
}
.teeth_category svg:hover{
  color: rgb(149, 19, 149);
  scale: 1.2;
  transition-duration: 700ms;
}
.teeth_category h3{
  font-size: 30px;
  opacity: 70%;
}
.teeth_category p{
  font-size: 17px;
  opacity: 60%;
}
.teeth_category div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent_area2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: auto;
  margin-top: 70px;
}
.parent_area2 h2{
  font-size: 40px;
  opacity: 80%;
}
.parent_area2 span{
  text-align: center;
  font-size: 20px;
  /* line-height: 2.5rem; */
  opacity: 70%;
  color: rgb(142, 60, 218);
}
.parent_area2 p{
  text-align: center;
  font-size: 20px;
  line-height: 2.5rem;
  opacity: 70%;
}
.image_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  height: 80vh;
}
.image_section p{
color:  rgb(186, 32, 186);
}
.image_section div{
  border: 1px solid rgb(211, 198, 198);
}
.image_section div:hover{
  scale: 0.979;
  transition-duration: 700ms;
}
.field_area{
margin-top: 25px;
  height: 100vh;
}
.field_image{
  background-color: rgb(239, 235, 235);
  /* gap: 2rem; */
  /* position:relative;
  background-image: url("./Image/img2.jpg");
  background-repeat: no-repeat; */
  

}
.field_section{
  width: 80vw;
  margin: auto;
  /* margin-top: 20px; */
}
.field_section .para{
  font-size: 20px;  
  color: rgb(186, 32, 186) ;
  opacity: 70%;
padding-top: 20px;
  
}
.field_section h2{
  font-size: 40px;  
  opacity: 80% !important;
  
}
.field_section p{
  font-size: 20px; 
  line-height: 2rem;
  opacity: 60%;

}
.input_field {
display: flex;
flex-direction: column;
width: 80vw;
margin: auto;
margin-top: 100px;
/* max-width: 700px; */
}
.input_field input{
padding: 20px;
font-size: 15px;
outline: none;
border: 1px solid white;
border-top: none;
border-left: none;
border-right: none;
opacity: 60%;
width: 700px;
}
.input_field textarea{
  padding: 20px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 60%;
  width: 700px;
  }

.input_field button{
  max-width: 100px;
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  opacity: 70%;
  background-color:rgb(186, 32, 186);
  color: white;
}
.footer_section{
 opacity: 85%;
  height: 80vh;
  background-color: #161b33;
  color: white;
}
.footer_element {
  display: flex;
  justify-content: space-between;
  /* gap: 10rem; */
  width: 80vw;
  margin: auto;
}
.footer_element h2{
font-weight: 600;
opacity: 80%;
margin-top: 50px;
}
.about_area{
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
  margin: 20px;
}
.vl{
  border-right: 1px solid rgb(201, 199, 199);
  /* border-bottom: 1px solid white; */
  height:60vh;
}
.about_area div{
  display: flex;
 align-items: center;
  gap: 1rem;
}
.about_area svg{
  color: rgb(194, 61, 194) ;
}
.Social_media_logo{
  border-radius: 4px;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
background-color:  rgb(194, 61, 194);
color: white !important;
}
.Social_media_logo svg{
  color: white;
}
.Social_media_logo:hover{
  scale: 1.2;
  transition-duration: 700ms;
  background-color:rgb(176, 24, 176) ;
  
}
.services_element{
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid white; */
  padding: 30px;
  margin: 20px;
}
.services_element div{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.arrow {
  border: solid rgb(194, 61, 194);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  opacity: 70%;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.opening_hours_section{
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* border: 1px solid white; */
  padding: 30px;
  margin: 20px;
}

.opening_hours_section div{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.times_section{
display: flex;
align-items: center;
gap: 7px;
}
.times_section svg{
  color: rgb(210, 106, 210);
}